#header{
    margin: 0;
    padding: 0;
}
.logo-link:hover{
    text-decoration: none;
}
#search-bar{
    width: 100%;
}
.searchbar{
    position: relative;
}
.button{
    margin-left: 50%;
    padding: 10px;
}
.search-btn{
    border: none;
    background: none;
    color: teal;
    position: absolute;
    right: 1%;
    top: 17%;
    height: 65%;
    width: 7%;
}
.search-btn:focus{
    border: none;
    outline: none;
}